<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <meta name="renderer" content="webkit"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="viewport"
          content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no"/>
    <title>ProductMS</title>
    <link rel="stylesheet" type="text/css" href="../static/src/css/layui.css"/>

    <style type="text/css">
        body {
            padding: 20px;
            padding-top: 20px;
        }

        #sele_file_btn {
            position: relative;
            /*margin-right: 30px;*/
        }

        #sele_file {
            position: relative;
            width: 100px;
            opacity: 0;
            cursor: pointer;
            left: -110px;
        }
    </style>
</head>
<body>
<div class="wrap-container">
    <form class="layui-form" method="post" action="" id="add_state_form">


        <div class="layui-form-item">
            <label class="layui-form-label">状态类型：</label>
            <div class="layui-input-block">
                <input type="text" name="stateType" placeholder="状态类型" autocomplete="off" class="layui-input"/>
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">状态名称：</label>
            <div class="layui-input-block">
                <input type="text" name="stateName" placeholder="状态名称" autocomplete="off" class="layui-input"/>
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">操作人：</label>
            <div class="layui-input-block">
                <input type="text" name="opPerson" placeholder="操作人" autocomplete="off" class="layui-input"/>
            </div>
        </div>

        <div class="layui-form-item">
            <div class="layui-input-block" style="float: right">
                <button type="button" class="layui-btn layui-btn-primary"
                        id="close">取消
                </button>
                <button class="layui-btn" id="add_form_btn" lay-submit=""
                        lay-filter="add_form_btn">立即提交
                </button>
            </div>
        </div>
    </form>
</div>
<!-- 判断是否为空 -->
<script src="../static/src/layui.js" type="text/javascript" charset="utf-8"></script>
<script src="../static/src/public.js" type="text/javascript" charset="utf-8"></script>
<script>
    layui.use(['form', 'jquery', 'laydate'], function () {
        var form = layui.form;
        var $ = layui.jquery;
        var laydate = layui.laydate;
        form.render();
        //监听提交
        form.on('submit(add_form_btn)', function (data) {
            layer.alert(JSON.stringify(data.field));
            $.ajax({
                url: '/addState',
                data: data.field,
                type: 'POST',//默认以get提交，以get提交如果是中文后台会出现乱码
                dataType: 'json',
                success: function (obj) {
                    // layer.close(index);//关闭
                    if (obj == "success") {
                        pubUtil.msg("新增成功！", layer, 1, function () {
                            $("#close").click();
                            location.reload();
                        }, 1000);
                    } else {
                        pubUtil.msg("新增失败！", layer, 2, function () {
                        }, 1000);
                    }
                }
            });
            return false;
        });
//上线时间选择
        var onlineDate = laydate.render({
            elem: '#onlineDate',//选择器结束时间
            theme: 'molv',
            min: "1970-1-1",//设置min默认最小值
            max: "2099-12-31"

        });
    });
</script>


</body>
</html>