<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" />
<meta name="renderer" content="webkit" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<meta name="viewport"
	content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
<title>ProductMS</title>
<link rel="stylesheet" type="text/css"
	href="../static/src/css/layui.css" />
<script src="../static/src/layui.js" type="text/javascript"
	charset="utf-8"></script>
<script src="../static/src/public.js" type="text/javascript"
	charset="utf-8"></script>
<style type="text/css">
body {
	padding: 20px;
	padding-top: 12px;
}

#sele_file_btn {
	position: relative;
}

#sele_file {
	position: relative;
	width: 100px;
	opacity: 0;
	cursor: pointer;
	left: -110px;
}
</style>
</head>
<body>
	<div class="wrap-container">
		<form class="layui-form" enctype="multipart/form-data" method="post"
			action="" id="add_demand_form">

			<div class="layui-form-item">
	<label class="layui-form-label">需求编号：</label>
				<div class="layui-input-block">
					<input type="text" name="reqNo" id="addDemReqNo" readonly='' autocomplete="off" class="layui-input" style="background-color: #e0e0e0"/>
				</div>
			</div>

			<div class="layui-form-item">
				<label class="layui-form-label">需求标题：</label>
				<div class="layui-input-block">
					<input type="text" name="reqName" id="title" lay-verify="title"
						placeholder="请输入需求标题" autocomplete="off" class="layui-input" />
				</div>
			</div>
			<div class="layui-form-item">
				<label class="layui-form-label">需求来源：</label>
				<div class="layui-input-block">
					<select name="reqSource" lay-verify="pass">
						<option value=""></option>
						<option value="1">个人部</option>
						<option value="2">运维</option>
						<option value="3">金融科技部</option>
						<option value="4">网络金融部</option>
						<option value="5">托管业务部</option>
					</select>
				</div>
			</div>

			<div class="layui-form-item">
				<label class="layui-form-label">提出部门：</label>
				<div class="layui-input-block">
					<select name="dept" lay-verify="pass">
						<option value=""></option>
						<option value="1">个人部</option>
						<option value="2">运维</option>
						<option value="3">金融科技部</option>
						<option value="4">网络金融部</option>
						<option value="5">托管业务部</option>
					</select>
				</div>
			</div>

			<div class="layui-form-item">
				<label class="layui-form-label">受理状态：</label>
				<div class="layui-input-block">
					<select name="reqStatus" lay-verify="pass">
						<option value=""></option>
						<option value="1">个人部</option>
						<option value="2">运维</option>
						<option value="3">金融科技部</option>
						<option value="4">网络金融部</option>
						<option value="5">托管业务部</option>
					</select>
				</div>
			</div>

			<div class="layui-form-item">
				<label class="layui-form-label">实施方式：</label>
				<div class="layui-input-block">
					<select name="execType" lay-verify="pass">
						<option value=""></option>
						<option value="1">个人部</option>
						<option value="2">运维</option>
						<option value="3">金融科技部</option>
						<option value="4">网络金融部</option>
						<option value="5">托管业务部</option>
					</select>
				</div>
			</div>

			<div class="layui-form-item">
				<label class="layui-form-label">牵头组：</label>
				<div class="layui-input-block">
					<select name="leadTeam" lay-verify="pass">
						<option value=""></option>
						<option value="1">个人部</option>
						<option value="2">运维</option>
						<option value="3">金融科技部</option>
						<option value="4">网络金融部</option>
						<option value="5">托管业务部</option>
					</select>
				</div>
			</div>

			<div class="layui-form-item">
				<label class="layui-form-label">受理人：</label>
				<div class="layui-input-block">
					<select name="nextUser" lay-verify="pass">
						<option value=""></option>
						<option value="1">个人部</option>
						<option value="2">运维</option>
						<option value="3">金融科技部</option>
						<option value="4">网络金融部</option>
						<option value="5">托管业务部</option>
					</select>
				</div>
			</div>

			<div class="layui-form-item">
				<label class="layui-form-label">配合组：</label>
				<div class="layui-input-block">
					<select name="cooTeam">
						<option value=""></option>
						<option value="1">个人部</option>
						<option value="2">运维</option>
						<option value="3">金融科技部</option>
						<option value="4">网络金融部</option>
						<option value="5">托管业务部</option>
					</select>
				</div>
			</div>

			<div class="layui-form-item">
				<div class="layui-inline">
					<label class="layui-form-label">文件上传：</label>
					<div class="layui-input-block ">
						<input name="file_name_show" id="file_name_show"
							readOnly="readOnly" class="layui-input" />
					</div>
				</div>

				<div class="layui-inline">
					<button type="button" class="layui-btn" id="sele_file_btn">选择文件</button>
				</div>
				<div class="layui-inline">
					<input type="file" class="layui-input" name="sele_file"
						multiple="multiple" id="sele_file" />
				</div>
			</div>

			<div class="layui-form-item">
				<div class="layui-input-block" style="float: right">
					<button type="button" class="layui-btn layui-btn-primary"
						id="close">关闭</button>
					<button class="layui-btn" id="add_form_btn" lay-submit=""
						lay-filter="add_form_btn">立即提交</button>
				</div>
			</div>
		</form>
	</div>
	
	<!-- 判断是否为空 -->
	<script type="text/javascript">
		layui.use([ 'form', 'jquery' ], function() {
			var form = layui.form;
			var $ = layui.jquery;
			form.verify({
				title : function(value) {
					var valuee = $('#title').val();
					if (valuee.length == 0) {
						return '请输入需求标题';
					}
				},
				pass : function(value) {
					if (value.length == 0) {
						return '此项为必输项';
					}
				}
			});
			form.render();
			//监听提交
			form.on('submit(add_form_btn)', function(data) {
				//layer.alert(JSON.stringify(data.field));
				var formData = new FormData($("#add_demand_form")[0]);
				console.info(formData);
				$.ajax({
					url : '/submitMultiUpload',
					data : formData,
					multiple : true,
					type : 'POST',//默认以get提交，以get提交如果是中文后台会出现乱码
					cache : false,
					contentType : false,
					processData : false,
					//dataType : 'json',
					success : function(obj) {
						//layer.close(index);//关闭   
						if (obj=="upload success") {
							pubUtil.msg(obj.msg, layer, 1, function() {
								$("#close").click();
							}, 500);
						} else {
							pubUtil.msg(obj.msg, layer, 2, function() {

							}, 5 * 1000);
						}
					}
				});
				return false;
			});
		})
	</script>
	
	<!-- reqAddAnduploadFile -->
	<script type="text/javascript">
		layui.use('jquery', function() {
			var $ = layui.jquery;
			var str = "";
			$("#sele_file").click();
			$("#sele_file").on("change", function() {
				var obj = document.getElementById("sele_file");
				var length = obj.files.length;
				/*<![CDATA[*/
				for (var i = 0; i < length; i++) {
					$("#file_name_show").html("");
					var temp = obj.files[i].name;
					str += "" + temp + "***";
				}
				/*]]>*/
				$("#file_name_show").val(str);
			});
		})
	</script>
	
	<!-- 使用 upload 模块必须与 upload.render(options) 方法打交道，其中的 options即为基础参数，它是一个对象 -->
	<!-- <script type="text/javascript">
		layui
				.use(
						'upload',
						function() {
							var $ = layui.jquery;
							var upload = layui.upload;//得到 upload 对象

							//多文件列表
							var demoListView = $('#demoList');
							//创建一个上传组件
							var uploadListIns = upload
									.render({
										elem : '#testList'//绑定元素
										,
										url : '/upload/'//上传接口
										,
										accept : 'file'//允许上传的文件类型
										,
										multiple : true,
										number : 3,
										size : 1024//最大允许上传的文件大小kb
										,
										auto : false,
										bindAction : '#upListAction',
										choose : function(obj) {
											var files = this.files = obj
													.pushFile(); //将每次选择的文件追加到文件队列

											//读取本地文件
											obj
													.preview(function(index,
															file, result) {
														var tr = $([
																'<tr id="upload-' + index + '">',
																'<td style="width=50%">'
																		+ file.name
																		+ '</td>',
																'<td>'
																		+ (file.size / 1014)
																				.toFixed(1)
																		+ 'kb</td>',
																'<td>等待上传</td>',
																'<td>',
																'<button type="button" class="layui-btn layui-btn-xs demo-reload layui-hide">重传</button>',
																'<button class="layui-btn layui-btn-xs layui-btn-danger demo-delete">删除</button>',
																'</td>',
																'</tr>' ]
																.join(''));

														//单个重传
														tr
																.find(
																		'.demo-reload')
																.on(
																		'click',
																		function() {
																			obj
																					.upload(
																							index,
																							file);
																		});

														//删除
														tr
																.find(
																		'.demo-delete')
																.on(
																		'click',
																		function() {
																			delete files[index]; //删除对应的文件
																			tr
																					.remove();
																			uploadListIns.config.elem
																					.next()[0].value = ''; //清空 input file 值，以免删除后出现同名文件不可选
																		});

														demoListView.append(tr);
													});

										},
										done : function(res, index, upload) {
											//上传完毕回调
											if (res.code == 0) { //上传成功
												var tr = demoListView
														.find('tr#upload-'
																+ index), tds = tr
														.children();
												tds
														.eq(2)
														.html(
																'<span style="color: #5FB878;">上传成功</span>');
												tds.eq(3).html(''); //清空操作
												delete this.files[index]; //删除文件队列已经上传成功的文件
												return;
											}
											layer.alert(res.msg);
											this.error(index, upload);
										},
										allDone : function(obj) {
											console.log(obj)
										},
										error : function(index, upload) {
											//请求异常回调
											var tr = demoListView
													.find('tr#upload-' + index), tds = tr
													.children();
											tds
													.eq(2)
													.html(
															'<span style="color: #FF5722;">上传失败</span>');
											tds.eq(3).find('.demo-reload')
													.removeClass('layui-hide'); //显示重传
						
													</script> -->
</body>
</html>