<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>upload.html</title>
		<meta name="keywords" content="keyword1,keyword2,keyword3"></meta>
		<meta name="description" content="this is my page"></meta>
		<meta name="content-type" content="text/html; charset=UTF-8"></meta>
	</head>
	<body>
		<h1>Spring Boot file upload example</h1>
		<form method="POST" action="/uploadFile" enctype="multipart/form-data">
			<input type="file" name="file" />
			<input type="submit" value="上传" />
		</form>
	</body>
</html>
